@import 'mediawiki.mixins';

.mw-ck-icon {
	content: '';
	background-size: contain;
}

.chtheme( @colour ) {
	border-color: @colour;

	.mw-ck-hub-toc ul {
		border-color: @colour;
	}

	.mw-ck-hub-footer {
		border-color: @colour;
	}
}

.chsubtheme( @colour ) {
	.mw-ck-subpage-toc {
		color: @colour;
	}

	.mw-ck-toc-label {
		color: darken( @colour, 25% );
	}
}

// Members block, random actiony blocks, etc
.grey() {
	border: solid 1px #ddd;
	background-color: #f9f9f9;
	border-radius: 3px;
}

.grey-box() {
	.grey();
	padding: 1.5em;

	h2 {
		margin: 0 0 0.5em;
		padding: 0;
		border: 0;
		font-size: 1.5em;
	}

	.oo-ui-buttonWidget {
		display: block;
		margin-right: 0;
		margin-top: 0.5em;
	}

	.oo-ui-buttonElement-framed > .oo-ui-buttonElement-button {
		display: block;
	}
}

@red: #b11;
@lightgrey: #ccc;
@skyblue: #3af;
@bluegrey: #abcdef;
@aquamarine: #4cc;
@violet: #b8d;
@salmon: #faa;
@yellow: #fc3;
@gold: #b91;
@brightgreen: #af5;

@default: @lightgrey;
