@import "ext.CollaborationKit.mixins.less";

/* Styles needed when transcluding list content */

.mw-collabkit-list-item {
	margin-bottom: 0.5em;
}

.mw-collabkit-list-img {
	float: left;
	/* If you change width/height, also change in
	 * CollaborationListContent::convertToWikitext()
	 */
	width: 64px;
	height: 64px;
	overflow: hidden;
}
.mw-collabkit-list-noimageplaceholder {
	width: 64px;
	height: 64px;
	content: '';
	background-size: contain;
	background-color: #eee;
	background-position: 50% 50%;
}

.mw-collabkit-list-container {
	height: 64px;
	padding-left: 10px;
	display: table-cell;
	vertical-align: middle;
	line-height: 1.2;
}

.mw-collabkit-list-title {
	font-size: 110%;
	font-weight: bold;
}

.mw-collabkit-list-notes {
	font-size: 90%;
}

/* @todo, should maybe replace styling from toccolours with this class */
.mw-collabkit-list-tags {
	display: inline-block;
}

/* Stuff below here could potentially be in a separate module since
 * its only used on direct page and not when transcluding */


/* Separate so spinner can replace properly */
.mw-collabkit-list-deletebutton {
	margin-left: 2em;
}

.mw-collabkit-list:not(.mw-collabkit-dragging) .mw-collabkit-list-movebutton {
	cursor: ns-resize;
	cursor: -moz-grab;
	cursor: -webkit-grab;
	cursor: grab;
}

.mw-collabkit-dragging {
	cursor: ns-resize;
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
	cursor: grabbing;
}

.mw-collabkit-list-button {
	display: inline-block;
}

/* Unclear if this is a really bad idea, but 24px makes the icon too big */
.mw-collabkit-list-button .oo-ui-iconElement-icon.oo-ui-iconElement-icon {
	min-height: 22px;
	height: 1em;
}

.mw-collabkit-list-additem {
	margin-top: 2em;
	text-align: center;
}

.mw-collabkit-list-addself {
	margin-bottom: 0.5em;
}

.mw-collabkit-list-dragplaceholder {
	border: black thin dashed;
	width: 25%;
}

.mw-collabkit-list-title .jquery-confirmable-text,
.mw-collabkit-list-title .mw-spinner {
	padding-left: .5em;
}
