@import "mediawiki.mixins";

.mw-ckicon {
	content: '';
	background-size: contain;
}

.chtheme( @colour ) {
	border-color: @colour;

	.wp-pagelist-section,
	.wp-toc .toc-label {
		border-color: @colour;
	}
}

// Members block, random actiony blocks, etc
.grey() {
	border: solid 1px #ddd;
	background-color: #f9f9f9;
	border-radius: 3px;
}
.grey-box() {
	.grey();
	padding: 1.5em;

	h2 {
		margin: 0 0 .5em;
		padding: 0;
		border: none;
		font-size: 1.5em;
	}

	.oo-ui-buttonWidget {
		display: block;
		margin-right: 0;
		margin-top: .5em;
	}
	.oo-ui-buttonElement-framed > .oo-ui-buttonElement-button {
		display: block;
	}
}

@red1: #700;
@red2: #d00;
@grey1: #444;
@grey2: #ccc;
@blue1: #4dc;
@blue2: #07d;
@blue3: #abcdef;
@blue4: #00f;
@blue5: #036;
@blue6: #008;
@purple1: #908;
@purple2: #b79;
@purple3: #60a;
@purple4: #c3f;
@purple5: #f99;
@yellow1: #ff3;
@yellow2: #fc0;
@yellow3: #e61;
@yellow4: #860;
@green1: #0b3;
@green2: #7f0;
@green3: #462;
