// I dunno what to name things.

@import "mediawiki.mixins";

// Members block, random actiony blocks, etc
.grey-box() {
	border: solid 1px #ddd;
	background: #f9f9f9;
	border-radius: 3px;
	padding: 1.5em;

	h2 {
		margin: 0 0 .5em;
		padding: 0;
		border: none;
		font-size: 1.5em;
	}

	.oo-ui-buttonWidget {
		display: block;
		margin-right: 0;
		margin-top: .5em;
	}
	.oo-ui-buttonElement-framed > .oo-ui-buttonElement-button {
		display: block;
	}
}


// Mainpage hub layout (.mw-body included because vector has excessively specific rules)
.mw-body .wp-mainpage {
	border-top: solid 10px #7af;
	padding-top: 1em;

	#wp-header-icon {
		float: left;
		padding: 0 2em 2em 0;
	}
	#wp-header-members {
		.grey-box();

		float: right;
		margin: 0 0 2em 2em;
		max-width: 20em;
		min-width: 12em;
		width: 25%;
	}
	.wp-intro {
		font-size: 115%;
	}

	.wp-toc li {
		max-width: 10em;
		text-align: center;
	}
	#wp-members-buttons {
		margin-top: 1em;
	}
	h2 {
		border: solid 5px #7af;
		border-style: solid none none;
		padding: .5em 0 .25em;
		margin: 2em 0 .5em;
	}
}
// Override some other dumb skins, which have random other rules (SELF FIX THESE YOU IDIOT)
#mw-content .wp-mainpage h2,
#mw-content-text .wp-mainpage h2 {
	border-bottom: none;
}

// Subpage hub stuff
.wp-subpage {
	border-top: solid 10px #7af;

	.wp-toc-container {
		float: right;
		padding: 0 0 1em 1em;
		background: #fff;
	}
	.wp-toc {
		.grey-box();

		padding: 0 1em;
		margin: 1em 0 1.5em 1em;
		max-width: 20em;

		ul {
			margin: 0;
		}
		li {
			float: none;
			margin: .75em 0;
		}
		.file-image,
		.wp-icon {
			float: left;
			margin: 0 -4em 0 1em;
			width: 20px;
			height: 20px;
		}
		.toc-mainpage span,
		.wp-toc-item .item-label {
			display: block;
			margin-left: 4em;
		}

		.toc-mainpage {
			font-weight: bold;
			padding: .5em 1em .75em 0;
			border-bottom: solid 3px #7af;

			.wp-toc-projectlabel {
				font-weight: normal;
			}

			.file-image,
			.wp-icon {
				width: 40px;
				height: 40px;
				margin-left: 0;
				margin-top: -1.25em;
			}
		}
	}
	#wp-header-icon {
		float: left;
		margin-top: .5em;
	}
	#wp-pagename-display {
		margin: .5em 0 1em;
	}
	.wp-intro {
		margin: 1em 0 2.5em;
		padding: .5em 0;
		border-bottom: solid 3px #7af;
		font-size: 105%;
	}
}

// Unnecessary as the ToC will link back anyway
div span.subpages {
	display: none;
}

// ARGH
.wp-toc {
	clear: both;
	margin: 1em 0;

	ul {
		padding: 0;
		margin: 0;
		list-style: none;
	}
	li {
		float: left;
		margin: .5em 1.25em .5em 0;
		word-wrap: break-word;
	}
	div,
	img {
		display: block;
		margin: auto;
	}

	.file-image {
		height: 40px;
		overflow: hidden;

		img {
			vertical-align: middle;
		}
	}
}

// Default?
.wp-icon {
	width: 50px;
	height: 50px;
	display: block;
	content: '';
	background-size: contain;
}

.ch-icon( @icon ) {
	.background-image-svg( "images/@{icon}.svg", "images/@{icon}.png" );
	background-repeat: no-repeat;

}
.wp-icon.addimage {
	.ch-icon( 'addimage' );
}
.wp-icon.addmapmarker {
	.ch-icon( 'addmapmarker' );
}
.wp-icon.addquote {
	.ch-icon( 'addquote' );
}
.wp-icon.bell {
	.ch-icon( 'bell' );
}
.wp-icon.book {
	.ch-icon( 'book' );
}
.wp-icon.circleline {
	.ch-icon( 'circleline' );
}
.wp-icon.circlestar {
	.ch-icon( 'circlestar' );
}
.wp-icon.circletriangle {
	.ch-icon( 'circletriangle' );
}
.wp-icon.circlex {
	.ch-icon( 'circlex' );
}
.wp-icon.clock {
	.ch-icon( 'clock' );
}
.wp-icon.community {
	.ch-icon( 'community' );
}
.wp-icon.contents {
	.ch-icon( 'contents' );
}
.wp-icon.die {
	.ch-icon( 'die' );
}
.wp-icon.discussion {
	.ch-icon( 'discussion' );
}
.wp-icon.download {
	.ch-icon( 'download' );
}
.wp-icon.edit {
	.ch-icon( 'edit' );
}
.wp-icon.editprotected {
	.ch-icon( 'editprotected' );
}
.wp-icon.eye {
	.ch-icon( 'eye' );
}
.wp-icon.flag {
	.ch-icon( 'flag' );
}
.wp-icon.funnel {
	.ch-icon( 'funnel' );
}
.wp-icon.gallery {
	.ch-icon( 'gallery' );
}
.wp-icon.gear {
	.ch-icon( 'gear' );
}
.wp-icon.heart {
	.ch-icon( 'heart' );
}
.wp-icon.image {
	.ch-icon( 'image' );
}
.wp-icon.journal {
	.ch-icon( 'journal' );
}
.wp-icon.key {
	.ch-icon( 'key' );
}
.wp-icon.link {
	.ch-icon( 'link' );
}
.wp-icon.lock {
	.ch-icon( 'lock' );
}
.wp-icon.mail {
	.ch-icon( 'mail' );
}
.wp-icon.map {
	.ch-icon( 'map' );
}
.wp-icon.mapmarker {
	.ch-icon( 'mapmarker' );
}
.wp-icon.menu {
	.ch-icon( 'menu' );
}
.wp-icon.message {
	.ch-icon( 'message' );
}
.wp-icon.messagenew {
	.ch-icon( 'messagenew' );
}
.wp-icon.messagescary {
	.ch-icon( 'messagescary' );
}
.wp-icon.move {
	.ch-icon( 'move' );
}
.wp-icon.newspaper {
	.ch-icon( 'newspaper' );
}
.wp-icon.nowiki {
	.ch-icon( 'nowiki' );
}
.wp-icon.ol {
	.ch-icon( 'ol' );
}
.wp-icon.page {
	.ch-icon( 'page' );
}
.wp-icon.pagechecked {
	.ch-icon( 'pagechecked' );
}
.wp-icon.pageribbon {
	.ch-icon( 'pageribbon' );
}
.wp-icon.pagesearch {
	.ch-icon( 'pagesearch' );
}
.wp-icon.paperclip {
	.ch-icon( 'paperclip' );
}
.wp-icon.print {
	.ch-icon( 'print' );
}
.wp-icon.puzzlepiece {
	.ch-icon( 'puzzlepiece' );
}
.wp-icon.quotes {
	.ch-icon( 'quotes' );
}
.wp-icon.ribbon {
	.ch-icon( 'ribbon' );
}
.wp-icon.rocket {
	.ch-icon( 'rocket' );
}
.wp-icon.search {
	.ch-icon( 'search' );
}
.wp-icon.star {
	.ch-icon( 'star' );
}
.wp-icon.starmenu {
	.ch-icon( 'starmenu' );
}
.wp-icon.sun {
	.ch-icon( 'sun' );
}
.wp-icon.translate {
	.ch-icon( 'translate' );
}
.wp-icon.trash {
	.ch-icon( 'trash' );
}
.wp-icon.ul {
	.ch-icon( 'ul' );
}
.wp-icon.user {
	.ch-icon( 'user' );
}
