@import 'ext.CollaborationKit.mixins.less';

.mw-ck-hubtheme-widget {
	float: left;
	display: inline-table;
	padding-right: 2em;

	.oo-ui-fieldLayout-header {
		margin-bottom: 0.25em;
	}
}

.mw-collabkit-modifiededitform .mw-ck-hubtheme-widget {
	margin-bottom: 0.75em;
}

.ck-createcollaborationhub-block {
	clear: both;
}

// editform
.mw-htmlform-field-HTMLTextField {
	float: left;
}

// specialcreate
.ck-createcollaborationhub-setup {
	.oo-ui-fieldsetLayout-group {
		clear: none;
		float: left;
		width: 80%;
	}

	.mw-widget-complexTitleInputWidget .mw-widget-namespaceInputWidget {
		max-width: 13em;
	}

	.mw-widget-complexTitleInputWidget .mw-widget-titleInputWidget {
		max-width: 25em;
	}

	.mw-ck-display-input .oo-ui-textInputWidget {
		max-width: 38.5em;
	}

	.oo-ui-inline-help {
		max-width: 41.5em;
	}
}

.mw-ck-hubtheme-widget-help {
	float: right;
	margin-top: -0.5em;
}

.mw-ck-hubtheme-widget-inlinebutton {
	width: 35px;
	height: 35px;
	position: absolute;
	right: 0;
	bottom: 0;
	background: #fff;
	opacity: 0.75;
	border: solid 1px #a2a9b1;
	border-right: 0;
	border-bottom: 0;
	border-radius: 0 2px 2px 0;

	&:hover,
	&:active {
		border: solid 1px #72777d;
		border-right: 0;
		border-bottom: 0;
		opacity: 0.9;
	}

	&.oo-ui-buttonElement-frameless.oo-ui-iconElement > .oo-ui-buttonElement-button > .oo-ui-iconElement-icon {
		left: 0;
	}

	&.oo-ui-buttonElement-frameless.oo-ui-iconElement > a.oo-ui-buttonElement-button,
	span.oo-ui-iconElement-icon {
		background-size: 27px;
		padding: 0;
		width: 35px;
		height: 35px;
		left: 0;
	}
}

.mw-ck-icon {
	background-size: 85%;
	background-repeat: no-repeat;
	background-position: center center;
}

.hubimagePreview {
	width: 150px;
	height: 150px;
	margin-bottom: 1.5em;
	border: solid 1px #a2a9b1;
	background-color: #f9f9f9;
	border-radius: 3px;
}

.hubimagePreview .mw-ck-hubtheme-widget-inlinebutton {
	border-radius: 3px 0 2px 0;
}

.hubimagePreview,
.colourPreview {
	position: relative;
}

.hubimagePreview:hover,
.hubimagePreview:active,
.mw-ck-colourblock-container:hover,
.mw-ck-colourblock-container:active {
	border: solid 1px #72777d;
}

.mw-ck-colourblock-container {
	border: solid 1px #a2a9b1;
	border-radius: 3px;
	position: relative;
}

.mw-ck-colourblock-container {
	margin-top: 0.75em;
	margin-bottom: 0.5em;
}

.oo-ui-optionWidget-selected .mw-ck-colourblock {
	border: 2px solid #2a4b8d;
	width: 146px;
	height: 31px;
	box-shadow: 0 0 5px 0 rgba( 42, 75, 141, 1 );
}

.colourBrowserButton {
	margin-top: 0.5em;
}

.mw-ck-colourblock {
	margin: 0;
	border-radius: 2px;
	width: 150px;
	height: 35px;
}

.mw-ck-colourchoice-container {
	text-align: center;

	.oo-ui-optionWidget {
		display: inline-block;
	}

	.oo-ui-radioInputWidget.oo-ui-radioInputWidget {
		display: none;
	}
}

.mw-ck-colour-red {
	background-color: @red;
}

.mw-ck-colour-lightgrey {
	background-color: @lightgrey;
}

.mw-ck-colour-skyblue {
	background-color: @skyblue;
}

.mw-ck-colour-bluegrey {
	background-color: @bluegrey;
}

.mw-ck-colour-aquamarine {
	background-color: @aquamarine;
}

.mw-ck-colour-violet {
	background-color: @violet;
}

.mw-ck-colour-salmon {
	background-color: @salmon;
}

.mw-ck-colour-yellow {
	background-color: @yellow;
}

.mw-ck-colour-gold {
	background-color: @gold;
}

.mw-ck-colour-brightgreen {
	background-color: @brightgreen;
}
