@import "ext.CollaborationKit.mixins.less";

.ck-customeditor-toolbars( @default );

.mw-collabkit-modifiededitform .oo-ui-labelElement-label {
	font-weight: bold;
}
.mw-ck-displayinput,
.mw-ck-hubimageinput {
	input {
		width: 40%;
	}
}
.oo-ui-textInputWidget {
	max-width: 100%;
}

.ck-customeditor-toolbars( @color ) {
	.mw-collabkit-modifiededitform {
		padding-bottom: .75em;
		border-bottom: solid 4px @color;
	}
	#toolbar {
		margin-bottom: .75em;
		border-bottom: solid 3px @color;
	}
}

.mw-ck-theme-red1 {
	.ck-customeditor-toolbars( @red1 );
}
.mw-ck-theme-red2 {
	.ck-customeditor-toolbars( @red2 );
}
.mw-ck-theme-grey1 {
	.ck-customeditor-toolbars( @grey1 );
}
.mw-ck-theme-grey2 {
	.ck-customeditor-toolbars( @grey2 );
}
.mw-ck-theme-blue1 {
	.ck-customeditor-toolbars( @blue1 );
}
.mw-ck-theme-blue2 {
	.ck-customeditor-toolbars( @blue2 );
}
.mw-ck-theme-blue3 {
	.ck-customeditor-toolbars( @blue3 );
}
.mw-ck-theme-blue4 {
	.ck-customeditor-toolbars( @blue4 );
}
.mw-ck-theme-blue5 {
	.ck-customeditor-toolbars( @blue5 );
}
.mw-ck-theme-blue6 {
	.ck-customeditor-toolbars( @blue6 );
}
.mw-ck-theme-purple1 {
	.ck-customeditor-toolbars( @purple1 );
}
.mw-ck-theme-purple2 {
	.ck-customeditor-toolbars( @purple2 );
}
.mw-ck-theme-purple3 {
	.ck-customeditor-toolbars( @purple3 );
}
.mw-ck-theme-purple4 {
	.ck-customeditor-toolbars( @purple4 );
}
.mw-ck-theme-purple5 {
	.ck-customeditor-toolbars( @purple5 );
}
.mw-ck-theme-yellow1 {
	.ck-customeditor-toolbars( @yellow1 );
}
.mw-ck-theme-yellow2 {
	.ck-customeditor-toolbars( @yellow2 );
}
.mw-ck-theme-yellow3 {
	.ck-customeditor-toolbars( @yellow3 );
}
.mw-ck-theme-yellow4 {
	.ck-customeditor-toolbars( @yellow4 );
}
.mw-ck-theme-green1 {
	.ck-customeditor-toolbars( @green1 );
}
.mw-ck-theme-green2 {
	.ck-customeditor-toolbars( @green2 );
}
.mw-ck-theme-green3 {
	.ck-customeditor-toolbars( @green3 );
}
