@import 'ext.CollaborationKit.mixins.less';

label.oo-ui-optionWidget-selected .mw-ck-iconbrowser-iconcontainer {
	background: #c4e2ff;
}

.mw-ck-iconbrowser-icon,
.iconPreview {
	width: 5em;
	height: 5em;
	background-position: 50% 50%;
	background-size: contain;
}

.mw-ck-iconbrowser-iconcontainer {
	margin-right: 1.5em;
	padding: 0.25em;
	border-radius: 2em;
}

.mw-ck-iconbrowser {
	text-align: center;
}

.mw-ck-iconbrowser label {
	display: inline-block;
}
