// I dunno what to name things.

@import "ext.CollaborationKit.mixins.less";

.mw-ck-subpage-toc {
	border-width: 3px;
	border-style: solid none;
	padding: .125em 0 .5em;
	margin: 2em 0;

	a, a:visited {
		color: #446;

		&.new {
			color: #644;
		}
	}

	li div,
	li,
	ul.mw-ck-toc-contents {
		display: inline;
		margin: 0;
	}
	li div.mw-ck-icon {
		display: inline-block;
	}

	ul {
		list-style: none;
		margin: 0;
		font-size: 90%;

		li:not(:last-child):after {
			content: '|';
			margin: 0 .5em;
		}
	}
	li div,
	li {
		margin: 0;
	}
}
.mw-ck-toc-label {
	margin-top: -1em;

	span {
		padding: .15em .5em .15em 0;
		background: #fff; // TODO make this actually follow skin background
		font-weight: bold;
	}
}

.mw-ck-toc-label span,
.mw-ck-subpage-toc .mw-ck-file-image,
.mw-ck-subpage-toc li div.mw-ck-icon,
.mw-ck-toc-subpage-hub div,
.mw-ck-toc-subpage-hub {
	display: inline-block;
}

.mw-ck-toc-subpage-hub {
	font-weight: bold;

	&:after{
		content: '»';
		margin: 0 .5em;
	}
}
.mw-ck-subpage-toc .mw-ck-file-image,
.mw-ck-subpage-toc li div.mw-ck-icon {
	width: 16px;
	height: 16px;
	overflow: hidden;
	margin: 0 .25em -3px 0;
}


// Unnecessary as the ToC will link back anyway
div span.subpages {
	display: none;
}

.mw-ck-toc div .mw-ck-toc img {
	display: block;
	margin: auto;
}


// Themes
.mw-ck-theme-red1 {
	.chsubtheme( @red1 );
}
.mw-ck-theme-red2 {
	.chsubtheme( @red2 );
}
.mw-ck-theme-grey1 {
	.chsubtheme( @grey1 );
}
.mw-ck-theme-grey2 {
	.chsubtheme( @grey2 );
}
.mw-ck-theme-blue1 {
	.chsubtheme( @blue1 );
}
.mw-ck-theme-blue2 {
	.chsubtheme( @blue2 );
}
.mw-ck-theme-blue3 {
	.chsubtheme( @blue3 );
}
.mw-ck-theme-blue4 {
	.chsubtheme( @blue4 );
}
.mw-ck-theme-blue5 {
	.chsubtheme( @blue5 );
}
.mw-ck-theme-blue6 {
	.chsubtheme( @blue6 );
}
.mw-ck-theme-purple1 {
	.chsubtheme( @purple1 );
}
.mw-ck-theme-purple2 {
	.chsubtheme( @purple2 );
}
.mw-ck-theme-purple3 {
	.chsubtheme( @purple3 );
}
.mw-ck-theme-purple4 {
	.chsubtheme( @purple4 );
}
.mw-ck-theme-purple5 {
	.chsubtheme( @purple5 );
}
.mw-ck-theme-yellow1 {
	.chsubtheme( @yellow1 );
}
.mw-ck-theme-yellow2 {
	.chsubtheme( @yellow2 );
}
.mw-ck-theme-yellow3 {
	.chsubtheme( @yellow3 );
}
.mw-ck-theme-yellow4 {
	.chsubtheme( @yellow4 );
}
.mw-ck-theme-green1 {
	.chsubtheme( @green1 );
}
.mw-ck-theme-green2 {
	.chsubtheme( @green2 );
}
.mw-ck-theme-green3 {
	.chsubtheme( @green3 );
}
