// I dunno what to name things.

@import "ext.CollaborationKit.mixins.less";

// ARGH
.mw-ck-hub-toc {
	clear: both;
	margin: 1em 0 2em;

	ul {
		padding: 0;
		margin: 0;
	}
	li {
		max-width: 7.5em;
		text-align: center;
		list-style: none;
		float: left;
		margin: .5em 1.25em .5em 0;
		word-wrap: break-word;
	}
	div,
	img {
		display: block;
		margin: auto;
	}

	.mw-ck-file-image {
		height: 50px;
		overflow: hidden;

		img {
			vertical-align: middle;
		}
	}
	.mw-ck-toc-label {
		font-weight: bold;
		margin: 0 0 1em;
		border-bottom: 3px solid;
		width: 33%;
	}
	.mw-ck-icon {
		height: 50px;
		width: 50px;
	}
}
.mw-content-rtl .mw-ck-toc ul,
.mw-content-ltr .mw-ck-toc ul {
	margin: 0;
	padding: 0;
}

// Mainpage hub layout (.mw-body included because vector has excessively specific rules)
.mw-body .mw-ck-collaborationhub {
	border-top: solid 7px;
	padding-top: 1em;

	.mw-ck-hub-section {
		border: solid 5px;
		border-style: solid none none;
		padding: 1em 0 .5em;
		margin: 2.5em 0 1em;
		clear: left;

		h2 {
			margin: 0 0 .75em;
			padding: 0 0 .25em;
			border-bottom-style: none;
			border-top-style: none;
			border-left-style: none;
			border-right-style: none;
		}
	}
}
.mw-ck-collaborationhub ul {
	display: inline-block;
}

.mw-ck-hub-image {
	float: left;
	padding: 0 2em 2em 0;

	.mw-ck-icon {
		.grey();
		width: 150px;
		height: 150px;
		background-size: contain;
	}
	.mw-ck-file-image img {
		border-radius: 3px;
	}
}
.mw-body .mw-ck-hub-members {
	.grey-box();

	float: right;
	margin: 0 0 2em 2em;
	max-width: 15em;
	min-width: 10em;
	width: 25%;

	h3 {
		margin: 0;
		margin-bottom: .5em;
		padding: 0;
		text-align: center;
	}
	.mw-ck-list-image,
	.mw-ck-list-noimageplaceholder {
		height: 32px;
		width: 32px;
	}
	.mw-ck-list-container {
		height: 32px;
	}
	.mw-ck-list-notes {
		display: none;
	}
}
.mw-ck-members-buttons {
	margin-top: 1em;
}
.mw-ck-hub-intro {
	font-size: 115%;
}
.mw-ck-hub-footer {
	border-top: 7px solid;
	margin: 2.5em 0 1.5em;
	border-bottom: 2px solid;
}
.mw-ck-hub-footer-actions {
	margin-right: 8em;
	text-align: center;
}


// Themes
.mw-body .mw-ck-collaborationhub {
	&.mw-ck-theme-red1 {
		.chtheme( @red1 );
	}
	&.mw-ck-theme-red2 {
		.chtheme( @red2 );
	}
	&.mw-ck-theme-grey1 {
		.chtheme( @grey1 );
	}
	&.mw-ck-theme-grey2 {
		.chtheme( @grey2 );
	}
	&.mw-ck-theme-blue1 {
		.chtheme( @blue1 );
	}
	&.mw-ck-theme-blue2 {
		.chtheme( @blue2 );
	}
	&.mw-ck-theme-blue3 {
		.chtheme( @blue3 );
	}
	&.mw-ck-theme-blue4 {
		.chtheme( @blue4 );
	}
	&.mw-ck-theme-blue5 {
		.chtheme( @blue5 );
	}
	&.mw-ck-theme-blue6 {
		.chtheme( @blue6 );
	}
	&.mw-ck-theme-purple1 {
		.chtheme( @purple1 );
	}
	&.mw-ck-theme-purple2 {
		.chtheme( @purple2 );
	}
	&.mw-ck-theme-purple3 {
		.chtheme( @purple3 );
	}
	&.mw-ck-theme-purple4 {
		.chtheme( @purple4 );
	}
	&.mw-ck-theme-purple5 {
		.chtheme( @purple5 );
	}
	&.mw-ck-theme-yellow1 {
		.chtheme( @yellow1 );
	}
	&.mw-ck-theme-yellow2 {
		.chtheme( @yellow2 );
	}
	&.mw-ck-theme-yellow3 {
		.chtheme( @yellow3 );
	}
	&.mw-ck-theme-yellow4 {
		.chtheme( @yellow4 );
	}
	&.mw-ck-theme-green1 {
		.chtheme( @green1 );
	}
	&.mw-ck-theme-green2 {
		.chtheme( @green2 );
	}
	&.mw-ck-theme-green3 {
		.chtheme( @green3 );
	}
}
