@import 'ext.CollaborationKit.mixins.less';

.ck-customeditor-borders( @default );

.mw-collabkit-modifiededitform {
	.oo-ui-fieldLayout.oo-ui-labelElement.oo-ui-fieldLayout-align-top > .oo-ui-fieldLayout-body > .oo-ui-fieldLayout-header,
	.oo-ui-textInputWidget {
		max-width: 100%;
	}
}
.mw-htmlform-ooui-wrapper,
.mw-collabkit-modifiededitform {
	.oo-ui-fieldLayout-header label.oo-ui-labelElement-label,
	label .oo-ui-fieldLayout-header .oo-ui-labelElement-label {
		font-weight: bold;
	}
}

// Set the textareas (SpecialCreateCollaborationHub, CollaborationHubContentEditor,
// CollaborationListContentEditor) to monospace instead of oojs ui usual of inherit
// (sans serif)
// Technically this should not be here, and we should be applying editfont UPO
// classes as per EditPage::buildTextboxAttribs. Unfortunately, the CSS in core
// for that has some issues with ooui's nesting, and so doesn't entirely work. So
// we'll just do this instead:
.page-Special_CreateCollaborationHub .oo-ui-textInputWidget textarea,
.mw-collabkit-modifiededitform .oo-ui-textInputWidget textarea {
	font-family: monospace;
}

.mw-ck-hub-topform {
	max-width: 50em;
}

.ck-customeditor-borders( @color ) {
	.mw-collabkit-modifiededitform {
		padding: 1.5em 1em;
		border: 1px solid @color;
		border-top-width: 3px;
		border-bottom-width: 4px;
		background-color: fadeout( @color, 95% );
	}
}

.mw-htmlform-field-HTMLSelectField.mw-ck-namespace-input {
	margin-top: 1.2em !important;
}

.mw-ck-namespace-input {
	width: 35.5%;
	display: inline-table !important;
}

.mw-ck-namespace-input-js {
	width: 100%;
	display: flex !important;

	.oo-ui-fieldLayout-body {
		width: 35.5%;
	}
}

.mw-ck-title-input {
	width: 64%;
	display: inline-table !important;
	padding-left: 0.25em;
	margin-top: 0 !important;
}

.mw-ck-title-input .oo-ui-fieldLayout-body {
	width: 100%;
}

.mw-ck-theme-darkred {
	.ck-customeditor-borders( @darkred );
}
.mw-ck-theme-red {
	.ck-customeditor-borders( @red );
}
.mw-ck-theme-darkgrey {
	.ck-customeditor-borders( @darkgrey );
}
.mw-ck-theme-lightgrey {
	.ck-customeditor-borders( @lightgrey );
}
.mw-ck-theme-skyblue {
	.ck-customeditor-borders( @skyblue );
}
.mw-ck-theme-blue {
	.ck-customeditor-borders( @blue );
}
.mw-ck-theme-bluegrey {
	.ck-customeditor-borders( @bluegrey );
}
.mw-ck-theme-navyblue {
	.ck-customeditor-borders( @navyblue );
}
.mw-ck-theme-darkblue {
	.ck-customeditor-borders( @darkblue );
}
.mw-ck-theme-aquamarine {
	.ck-customeditor-borders( @aquamarine );
}
.mw-ck-theme-violet {
	.ck-customeditor-borders( @violet );
}
.mw-ck-theme-purple {
	.ck-customeditor-borders( @purple );
}
.mw-ck-theme-mauve {
	.ck-customeditor-borders( @mauve );
}
.mw-ck-theme-lightmauve {
	.ck-customeditor-borders( @lightmauve );
}
.mw-ck-theme-salmon {
	.ck-customeditor-borders( @salmon );
}
.mw-ck-theme-orange {
	.ck-customeditor-borders( @orange );
}
.mw-ck-theme-yellow {
	.ck-customeditor-borders( @yellow );
}
.mw-ck-theme-gold {
	.ck-customeditor-borders( @gold );
}
.mw-ck-theme-pastelyellow {
	.ck-customeditor-borders( @pastelyellow );
}
.mw-ck-theme-forestgreen {
	.ck-customeditor-borders( @forestgreen );
}
.mw-ck-theme-brightgreen {
	.ck-customeditor-borders( @brightgreen );
}
.mw-ck-theme-khaki {
	.ck-customeditor-borders( @khaki );
}
