// I dunno what to name things.

@import "ext.CollaborationKit.mixins.less";

.mw-ck-subpage-toc {
	border-width: 3px;
	border-style: solid none;
	padding: .125em 0 .5em;
	margin: 2em 0;

	a, a:visited {
		color: #446;

		&.new {
			color: #644;
		}
	}

	li div,
	li,
	ul.mw-ck-toc-contents {
		display: inline;
		margin: 0;
	}
	li div.mw-ck-icon {
		display: inline-block;
	}

	ul {
		list-style: none;
		margin: 0;
		font-size: 90%;

		li:not(:last-child):after {
			content: '|';
			margin: 0 .5em;
		}
	}
	li div,
	li {
		margin: 0;
	}
}
.mw-ck-toc-label {
	margin-top: -1em;

	span {
		padding: .15em .5em .15em 0;
		background: #fff; // TODO make this actually follow skin background
		font-weight: bold;
	}
}

.mw-ck-toc-label span,
.mw-ck-subpage-toc .mw-ck-file-image,
.mw-ck-subpage-toc li div.mw-ck-icon,
.mw-ck-toc-subpage-hub div,
.mw-ck-toc-subpage-hub {
	display: inline-block;
}

.mw-ck-toc-subpage-hub {
	font-weight: bold;

	&:after{
		content: '»';
		margin: 0 .5em;
	}
}
.mw-ck-subpage-toc .mw-ck-file-image,
.mw-ck-subpage-toc li div.mw-ck-icon {
	width: 16px;
	height: 16px;
	overflow: hidden;
	margin: 0 .25em -3px 0;
}


// Unnecessary as the ToC will link back anyway
div span.subpages {
	display: none;
}

.mw-ck-toc div .mw-ck-toc img {
	display: block;
	margin: auto;
}

.mw-ck-file-image p {
	margin: 0 !important;
}


// Themes
.mw-ck-theme-darkred {
	.chsubtheme( @darkred );
}
.mw-ck-theme-red {
	.chsubtheme( @red );
}
.mw-ck-theme-darkgrey {
	.chsubtheme( @darkgrey );
}
.mw-ck-theme-lightgrey {
	.chsubtheme( @lightgrey );
}
.mw-ck-theme-skyblue {
	.chsubtheme( @skyblue );
}
.mw-ck-theme-blue {
	.chsubtheme( @blue );
}
.mw-ck-theme-bluegrey {
	.chsubtheme( @bluegrey );
}
.mw-ck-theme-navyblue {
	.chsubtheme( @navyblue );
}
.mw-ck-theme-darkblue {
	.chsubtheme( @darkblue );
}
.mw-ck-theme-aquamarine {
	.chsubtheme( @aquamarine );
}
.mw-ck-theme-violet {
	.chsubtheme( @violet );
}
.mw-ck-theme-purple {
	.chsubtheme( @purple );
}
.mw-ck-theme-mauve {
	.chsubtheme( @mauve );
}
.mw-ck-theme-lightmauve {
	.chsubtheme( @lightmauve );
}
.mw-ck-theme-salmon {
	.chsubtheme( @salmon );
}
.mw-ck-theme-orange {
	.chsubtheme( @orange );
}
.mw-ck-theme-yellow {
	.chsubtheme( @yellow );
}
.mw-ck-theme-gold {
	.chsubtheme( @gold );
}
.mw-ck-theme-pastelyellow {
	.chsubtheme( @pastelyellow );
}
.mw-ck-theme-forestgreen {
	.chsubtheme( @forestgreen );
}
.mw-ck-theme-brightgreen {
	.chsubtheme( @brightgreen );
}
.mw-ck-theme-khaki {
	.chsubtheme( @khaki );
}
