@import "ext.CollaborationKit.mixins.less";

.mw-ck-hub-toc {
	clear: both;
	margin: 1em 0 2em;

	ul {
		padding: 0;
		margin: 0;
	}
	li {
		max-width: 7.5em;
		text-align: center;
		list-style: none;
		float: left;
		margin: .5em 1.25em .5em 0;
		word-wrap: break-word;
	}
	div,
	img {
		display: block;
		margin: auto;
	}

	.mw-ck-file-image {
		height: 50px;
		overflow: hidden;

		img {
			vertical-align: middle;
		}
	}
	.mw-ck-toc-label {
		font-weight: bold;
		margin: 0 0 1em;
		border-bottom: 3px solid;
		width: 33%;
	}
	.mw-ck-icon {
		height: 50px;
		width: 50px;
	}
}
.mw-content-rtl .mw-ck-toc ul,
.mw-content-ltr .mw-ck-toc ul {
	margin: 0;
	padding: 0;
}

// Mainpage hub layout (.mw-body included because vector has excessively specific rules)
.mw-body .mw-ck-collaborationhub {
	border-top: solid 7px;
	padding-top: 1em;

	.mw-ck-hub-section {
		border: solid 5px;
		border-style: solid none none;
		padding: 1em 0 .5em;
		margin: 2.5em 0 1em;
		clear: left;

		h2 {
			display: inline;
			margin: 0;
			padding: 0;
			border-style: none;
		}

		.mw-ck-hub-section-main {
			padding-top: .25em;
		}
	}
	.mw-ck-hub-section-buttons {
		display: inline;
		margin-left: 2em;
	}
	.mw-ck-hub-section-button {
		margin: -.2em 1em 0 0;
	}
}
.mw-ck-collaborationhub ul {
	display: inline-block;
}

.mw-ck-hub-image {
	float: left;
	padding: 0 2em 2em 0;

	.mw-ck-icon {
		.grey();
		width: 150px;
		height: 150px;
		background-size: contain;
	}
	.mw-ck-file-image img {
		border-radius: 3px;
	}
}
.mw-body .mw-ck-hub-members {
	.grey-box();

	float: right;
	margin: 0 0 2em 2em;
	max-width: 15em;
	min-width: 10em;
	width: 25%;

	h3 {
		margin: 0 0 .5em;
		padding: 0;
		text-align: center;
	}
	.mw-ck-list-image,
	.mw-ck-list-noimageplaceholder {
		height: 32px;
		width: 32px;
	}
	.mw-ck-list-container {
		height: 32px;
	}
	.mw-ck-list-notes {
		display: none;
	}
}
.mw-ck-members-buttons {
	margin-top: 1em;
}
.mw-ck-hub-intro {
	font-size: 115%;
}
.mw-ck-hub-footer {
	border-top: 7px solid;
	margin: 2.5em 0 1.5em;
	border-bottom: 2px solid;
}
.mw-ck-hub-footer-actions {
	margin-right: 8em;
	text-align: center;
}


// Themes
.mw-body .mw-ck-collaborationhub {
	&.mw-ck-theme-darkred {
		.chtheme( @darkred );
	}
	&.mw-ck-theme-red {
		.chtheme( @red );
	}
	&.mw-ck-theme-darkgrey {
		.chtheme( @darkgrey );
	}
	&.mw-ck-theme-lightgrey {
		.chtheme( @lightgrey );
	}
	&.mw-ck-theme-skyblue {
		.chtheme( @skyblue );
	}
	&.mw-ck-theme-blue {
		.chtheme( @blue );
	}
	&.mw-ck-theme-bluegrey {
		.chtheme( @bluegrey );
	}
	&.mw-ck-theme-navyblue {
		.chtheme( @navyblue );
	}
	&.mw-ck-theme-darkblue {
		.chtheme( @darkblue );
	}
	&.mw-ck-theme-aquamarine {
		.chtheme( @aquamarine );
	}
	&.mw-ck-theme-violet {
		.chtheme( @violet );
	}
	&.mw-ck-theme-purple {
		.chtheme( @purple );
	}
	&.mw-ck-theme-mauve {
		.chtheme( @mauve );
	}
	&.mw-ck-theme-lightmauve {
		.chtheme( @lightmauve );
	}
	&.mw-ck-theme-salmon {
		.chtheme( @salmon );
	}
	&.mw-ck-theme-orange {
		.chtheme( @orange );
	}
	&.mw-ck-theme-yellow {
		.chtheme( @yellow );
	}
	&.mw-ck-theme-gold {
		.chtheme( @gold );
	}
	&.mw-ck-theme-pastelyellow {
		.chtheme( @pastelyellow );
	}
	&.mw-ck-theme-forestgreen {
		.chtheme( @forestgreen );
	}
	&.mw-ck-theme-brightgreen {
		.chtheme( @brightgreen );
	}
	&.mw-ck-theme-khaki {
		.chtheme( @khaki );
	}
}
