@import "ext.CollaborationKit.mixins.less";

.mw-ck-colourblock-container {
	margin-top:10px;
	margin-bottom:10px;
}

.oo-ui-optionWidget-selected .mw-ck-colourblock {
	border: 2px solid #2a4b8d;
	width: 46px;
	height: 46px;
	-webkit-box-shadow: 0 0 5px 0px rgba(42,75,141,1);
	-moz-box-shadow: 0 0 5px 0px rgba(42,75,141,1);
	box-shadow: 0 0 5px 0px rgba(42,75,141,1);
}

.colourBrowserButton {
	margin-top: 0.5em;
}

.mw-ck-colourblock {
	width: 50px;
	height: 50px;
}

.mw-ck-colourchoice-container {
	text-align: center;
}

.mw-ck-colourchoice-container .oo-ui-optionWidget {
	display: inline-block;
}

.mw-ck-colourchoice-container .oo-ui-radioInputWidget.oo-ui-radioInputWidget {
	display: none;
}

.mw-ck-colour-darkred {
	background-color: @darkred;
}
.mw-ck-colour-red {
	background-color: @red;
}
.mw-ck-colour-darkgrey {
	background-color: @darkgrey;
}
.mw-ck-colour-lightgrey {
	background-color: @lightgrey;
}
.mw-ck-colour-skyblue {
	background-color: @skyblue;
}
.mw-ck-colour-blue {
	background-color: @blue;
}
.mw-ck-colour-bluegrey {
	background-color: @bluegrey;
}
.mw-ck-colour-navyblue {
	background-color: @navyblue;
}
.mw-ck-colour-darkblue {
	background-color: @darkblue;
}
.mw-ck-colour-aquamarine {
	background-color: @aquamarine;
}
.mw-ck-colour-violet {
	background-color: @violet;
}
.mw-ck-colour-purple {
	background-color: @purple;
}
.mw-ck-colour-mauve {
	background-color: @mauve;
}
.mw-ck-colour-lightmauve {
	background-color: @lightmauve;
}
.mw-ck-colour-salmon {
	background-color: @salmon;
}
.mw-ck-colour-orange {
	background-color: @orange;
}
.mw-ck-colour-yellow {
	background-color: @yellow;
}
.mw-ck-colour-gold {
	background-color: @gold;
}
.mw-ck-colour-pastelyellow {
	background-color: @pastelyellow;
}
.mw-ck-colour-forestgreen {
	background-color: @forestgreen;
}
.mw-ck-colour-brightgreen {
	background-color: @brightgreen;
}
.mw-ck-colour-khaki {
	background-color: @khaki;
}
/* Black is special */
.mw-ck-colour-black {
	background-color: #000;
}
