@import "ext.CollaborationKit.mixins.less";

/* Styles needed when transcluding list content */

.mw-ck-list-item {
	margin-bottom: 0.5em;
}

.mw-ck-list-image {
	float: left;
	/* If you change width/height, also change in
	 * CollaborationListContent::convertToWikitext()
	 */
	width: 64px;
	height: 64px;
	overflow: hidden;
}
.mw-ck-list-noimageplaceholder {
	width: 64px;
	height: 64px;
	content: '';
	background-size: contain;
	background-color: #eee;
	background-position: 50% 50%;
}
.mw-ck-list-container {
	height: 64px;
	padding-left: 10px;
	display: table-cell;
	vertical-align: middle;
	line-height: 1.2;
}
.mw-ck-list-title {
	font-size: 110%;
	font-weight: bold;
}

.mw-ck-list-notes {
	font-size: 90%;
	margin: 1em 0 2em;
}

/* Multilist stuff */
.mw-ck-multilist {
	.flex-display;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0 -.5em;

	.mw-ck-list-column {
		.grey-box();
		float: left; // IE9 workaround, maybe
		.flex();
		margin: .5em;
		min-width: 20em; // Todo something smarter for mobile/genuinely narrow things?
		max-width: 35em;
		-webkit-flex-basis: 25em;
		-moz-flex-basis: 25em;
		-ms-flex-basis: 25em;
		flex-basis: 25em;
		box-sizing: border-box;
	}

	.mw-ck-list-notes {
		margin: 0;
	}
	.mw-ck-list-column-header {
		padding: 1.25em 1.5em .35em;

		// YOU ARE AN IDIOT AND YOU SUCK, SELF
		// Can anyone else explain how this voodoo works? because now I can't figure it out
		margin: -1.6em -1.6em 1em;
		border-radius: 3px 3px 0 0;
	}
	.mw-ck-list-column-header h3 {
		margin-top: 0;
		padding-top: 0;
	}
}
.column-theme-header( #ddd );

// Theme colours mixin and application

.column-theme-header( @color ) {
	.mw-ck-multilist {
		.mw-ck-list-column {
			border-color: fadeout( @color, 25% );
		}
		.mw-ck-list-column-header {
			border: solid 1px @color;
			border-bottom-width: 3px;
			background: fadeout( @color, 75% );
		}
	}
}
.mw-ck-theme-darkred {
	.column-theme-header( @darkred );
}
.mw-ck-theme-red {
	.column-theme-header( @red );
}
.mw-ck-theme-darkgrey {
	.column-theme-header( @darkgrey );
}
.mw-ck-theme-lightgrey {
	.column-theme-header( @lightgrey );
}
.mw-ck-theme-skyblue {
	.column-theme-header( @skyblue );
}
.mw-ck-theme-blue {
	.column-theme-header( @blue );
}
.mw-ck-theme-bluegrey {
	.column-theme-header( @bluegrey );
}
.mw-ck-theme-navyblue {
	.column-theme-header( @navyblue );
}
.mw-ck-theme-darkblue {
	.column-theme-header( @darkblue );
}
.mw-ck-theme-aquamarine {
	.column-theme-header( @aquamarine );
}
.mw-ck-theme-violet {
	.column-theme-header( @violet );
}
.mw-ck-theme-purple {
	.column-theme-header( @purple );
}
.mw-ck-theme-mauve {
	.column-theme-header( @mauve );
}
.mw-ck-theme-lightmauve {
	.column-theme-header( @lightmauve );
}
.mw-ck-theme-salmon {
	.column-theme-header( @salmon );
}
.mw-ck-theme-orange {
	.column-theme-header( @orange );
}
.mw-ck-theme-yellow {
	.column-theme-header( @yellow );
}
.mw-ck-theme-gold {
	.column-theme-header( @gold );
}
.mw-ck-theme-pastelyellow {
	.column-theme-header( @pastelyellow );
}
.mw-ck-theme-forestgreen {
	.column-theme-header( @forestgreen );
}
.mw-ck-theme-brightgreen {
	.column-theme-header( @brightgreen );
}
.mw-ck-theme-khaki {
	.column-theme-header( @khaki );
}

/* @todo, should maybe replace styling from toccolours with this class */
.mw-ck-list-tags {
	display: inline-block;
}

/* Stuff below here could potentially be in a separate module since
 * its only used on direct page and not when transcluding */


/* Separate so spinner can replace properly */
.mw-ck-list-deletebutton {
	margin-left: 2em;
}

.mw-ck-list:not(.mw-ck-dragging) .mw-ck-list-movebutton {
	cursor: ns-resize;
	cursor: -moz-grab;
	cursor: -webkit-grab;
	cursor: grab;
}

.mw-ck-dragging {
	cursor: ns-resize;
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
	cursor: grabbing;
}

.mw-ck-list-button {
	display: inline-block;
}

/* Unclear if this is a really bad idea, but 24px makes the icon too big */
.mw-ck-list-button .oo-ui-iconElement-icon.oo-ui-iconElement-icon {
	min-height: 22px;
	height: 1em;
}

.mw-ck-list-additem {
	margin-top: 2em;
	text-align: center;
}

.mw-ck-list-addself {
	margin-bottom: 0.5em;
}

.mw-ck-list-dragplaceholder {
	border: black thin dashed;
	width: 25%;
}

.mw-ck-list-title .jquery-confirmable-text,
.mw-ck-list-title .mw-spinner {
	padding-left: .5em;
}
